@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom utilities */

@layer utilities {
  .text-shadow-lg {
    text-shadow: 0 2px 4px rgb(0 0 0 / 0.35);
  }
}
@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 5s linear infinite;
}

.animate-wiggle {
  animation: wiggle 1.5s ease-in-out infinite;
}

.arrow-shape {
  clip-path: polygon(
    0 0,
    calc(100% - 30px) 0,
    100% 50%,
    calc(100% - 30px) 100%,
    0 100%,
    0 0
  );
}
